.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  pointer-events: none;
}

.app {
  position: relative;
  text-align: center;
  flex-direction: column;
  height: 100%;
}
.app__time-input {
  height: 27px;
  border: 1px solid lightblue;
  transition: 0.5s;
  margin-right: 10px;
}
.app__time-input:focus {
  outline: 1px solid lightblue;
  transform: scale(1.05);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.app__start {
  box-sizing: border-box;
  background-color: white;
  border: 2px solid lightblue;
  color: lightblue;
  transition: 0.5s;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
  width: 100px;
}
.app__start:hover {
  color: white;
  background-color: lightblue;
  border-color: white;
}
.app__start:active {
  transform: scale(1.05);
}
.app__again {
  background-color: white;
  border: 2px solid lightblue;
  font-size: 15px;
  color: lightblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  padding: 5px 10px;
  cursor: pointer;
}
.app__again:hover {
  color: white;
  background-color: inherit;
  border: 2px solid white;
}
.app__win {
  transition: 0.5s;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.app__win-body {
  position: absolute;
  top: 30%;
  left: 42%;
  border: 5px solid white;
  background-color: lightblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100px;
  width: 200px;
  padding: 10px;
}
.app__game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.app__card {
  border-radius: 10px;
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
}
.app__card.flipped .app__front {
  transform: rotateY(180deg);
}
.app__card.flipped .app__back {
  transform: rotateY(0deg);
}
.app__card.matched .app__back {
  transition: 0.5s;
  background: greenyellow;
}
.app__card.notMatched .app__back {
  transition: 0.5s;
  background: red;
}
.app__row {
  display: flex;
}
.app__front, .app__back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: lightblue;
  border-radius: 10px;
  border: 5px solid white;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.4, 0.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.app__back {
  font-size: 28pt;
  text-align: center;
  line-height: 100px;
  background: white;
  border: 5px solid lightblue;
  transform: rotateY(180deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}